<br><br>
<aside class="columna">
    <blockquote>
        <table class="tabla" id="personas" border="2">
            <tr>
                <th><input type="checkbox" id="lista-check-box" class="check-lista"></th>
                <th>ID</th>
                <th>NOMBRE(S)</th>
                <th>APELLIDOS</th>
                <th>EDAD</th>
                <th>CORREO</th>
                <th>BORRAR</th>
            </tr>
            <tr *ngFor="let persona of arreglo_5_usuarios; index as i">
                <th><input type="checkbox" id="lista-check-box" class="check-lista"></th>
                <th class="letra">{{persona.id}}</th>
                <th class="letra">{{persona.nombre}}</th>
                <th class="letra">{{persona.apellido}}</th>
                <th class="letra">{{persona.edad}}</th>
                <th class="letra">{{persona.correo}}</th>
                <th>
                    <input type="checkbox" id="lista-check-box" class="delate" onclick="palimitas(i)">
                    <label class="label_dinamico">X</label>
                    <app-modal-eliminar></app-modal-eliminar>
                </th>
            </tr>
        </table>
        <app-paginacion [arreglo_personas]="personas" (arreglo_5_usuarios_)="usuarios($event)"></app-paginacion>
    </blockquote>
    <button id="imprimir_checkbox" class="boton_especial">IMPRIMIR LISTA</button>
    <app-modal-mostrar></app-modal-mostrar>
</aside>
<br>