<div id="modal_boton" class="modal fade">
    <div class="contenedor">
        <header>LISTA SELECCIONADOS</header>
        <label id="cerrar">X</label>
        <div class="contenido">
            <table class="tabla2" id="personas2" border="2">
                <tr>
                    <th>ID</th>
                    <th>NOMBRE(S)</th>
                    <th>APELLIDOS</th>
                </tr>
            </table>
            <p id="texto_modal">
            </p>
        </div>
    </div>
</div>
<div id="modal_boton3" class="modal3">
    <div class="contenedor3">
    </div>
</div>
